{% extends 'Main/base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Detail Information</h3><hr>
            <p><span class="font-weight-bold">Username: </span> {{user}}</p>
            <p><span class="font-weight-bold">Name: </span> {{user.first_name}} {{user.last_name}} </p>
            <p><span class="font-weight-bold">Email: </span> {{user.email}}</p>

        </div>

        <div class="col-md-8">
            <h3>Previous Orders</h3>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Ordered on</th>
                         <th>Order By</th>
                        <th>Order ID</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Pin code</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order %}
                    <tr>

                        <td>{{item.date}}</td>
                        <td>{{item.firstname}} {{item.lastname}}</td>
                        <td>{{item.payment_id}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.paid}}</td>
                        <td>{{item.postcode}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}